# Loading Datasets From POI Factory

http://www.poi-factory.com/poifiles/popular

In [1]:
# Pandas importing for EDA
import pandas as pd

In [6]:
# Truck Stops Dataset

truck_stops = pd.read_csv('Truck_Stops.csv', header=None, names=['Longitude', 'Latitude', 'Truck Stop Name', 
                                                        'Phone Number','Street Address', 'City', 
                                                        'State/Province', 'Postal Code', 'Country'] )

print(truck_stops.shape)
truck_stops.head()

(1863, 9)

,Longitude,Latitude,Truck Stop Name,Phone Number,Street Address,City,State/Province,Postal Code,Country
0,-113.998390,51.292840,Flying J - Cardlock 10 Truck Parking Spots; #0813,403-948-4193,85 East Lake Cresent,Airdrie,AB,T4B 2B5,CAN
1,-111.867535,50.572799,Flying J 20 Truck Parking Spots; #0792,403-362-5594,Hwy 1 & CR542; 1260 Cassils Road East,Brooks,AB,T1R 1B7,CAN
2,-114.004910,51.075000,Flying J - Cardlock 130 Truck Parking Spots; #...,403-250-3835,Hwy 1 Barlow Trl Exit; 2525 23rd St NE,Calgary,AB,T2E 7M1,CAN
3,-113.974949,50.990041,Flying J 15 Truck Parking Spots; #0793,403-236-2404,Hwy 2; 4216 72 Ave SE,Calgary,AB,T2C 2C1,CAN
4,-114.004072,51.009581,Flying J 80 Truck Parking Spots; #0848,403-569-6250,Hwy 2; 4949 Barlow Trail SE,Calgary,AB,T2B 3B5,CAN

In [7]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863 entries, 0 to 1862
Data columns (total 9 columns):
Longitude          1863 non-null float64
Latitude           1863 non-null float64
Truck Stop Name    1863 non-null object
Phone Number       1863 non-null object
Street Address     1863 non-null object
City               1863 non-null object
State/Province     1863 non-null object
Postal Code        1863 non-null object
Country            1863 non-null object
dtypes: float64(2), object(7)
memory usage: 131.1+ KB

In [41]:
# Dump Stations Dataset

dump_stations = pd.read_csv('Dump Stations.csv', encoding='ISO-8859-1', header=None)

# Removing columns with null values
dump_stations = dump_stations.drop(columns=[3, 5, 6, 7, 8])

# Adding column header names
dump_stations = dump_stations.rename(columns={0: 'Longitude', 1: 'Latitude', 
                                              2: 'Dump Site Name', 4: 'State/Province'})

print(dump_stations.shape)
dump_stations.head()

(1435, 4)

,Longitude,Latitude,Dump Site Name,State/Province
0,-114.609141,49.630588,Coleman Travel Alberta Visitor Information Centre,AB
1,-113.570425,53.644054,St Albert,AB
2,-114.490795,51.543993,Cremona,AB
3,-115.366680,51.106145,Canmore good Visitor Center,AB
4,-114.783968,55.271408,Slave Lake Canadian Tire,AB

In [42]:
dump_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 4 columns):
Longitude         1435 non-null float64
Latitude          1435 non-null float64
Dump Site Name    1435 non-null object
State/Province    1434 non-null object
dtypes: float64(2), object(2)
memory usage: 45.0+ KB